data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-0.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-0.50+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-1.50+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02300-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02400-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02400-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02400-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02400-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02400-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02500-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02500-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02500-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02500-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02500-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02600-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02600-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02600-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02600-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02600-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02800-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02800-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02800-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02800-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte02800-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03200-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03200-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03200-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03200-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03200-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03600-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03600-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03600-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03600-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03600-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03800-1.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03800-2.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03800-3.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03800-4.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+0.5/lte03800-5.00+0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-0.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-0.50+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-1.50+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02300-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02400-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02400-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02400-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02400-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02400-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02500-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02500-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02500-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02500-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02500-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02600-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02600-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02600-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02600-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02600-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02800-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02800-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02800-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02800-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte02800-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03200-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03200-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03200-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03200-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03200-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03600-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03600-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03600-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03600-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03600-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03800-1.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03800-2.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03800-3.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03800-4.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z+1.0/lte03800-5.00+1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-0.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-0.50-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-1.50-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02300-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02400-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02400-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02400-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02400-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02400-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02500-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02500-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02500-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02500-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02500-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02600-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02600-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02600-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02600-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02600-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02800-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02800-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02800-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02800-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte02800-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03000-0.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03000-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03200-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03200-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03200-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03200-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03200-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03500-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03600-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03600-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03600-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03600-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03600-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03800-1.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03800-2.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03800-3.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03800-4.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.0/lte03800-5.00-0.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.5/lte02300-0.00-0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.5/lte02300-0.50-0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.5/lte02300-1.00-0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-0.5/lte02300-1.50-0.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.0/lte02300-0.00-1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.0/lte02300-0.50-1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.0/lte02300-1.00-1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.0/lte02300-1.50-1.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.5/lte02300-0.00-1.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.5/lte02300-0.50-1.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.5/lte02300-1.00-1.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.5/lte02300-1.50-1.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-1.5/lte02300-2.00-1.5.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-2.0/lte02300-0.00-2.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-2.0/lte02300-0.50-2.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-2.0/lte02300-1.00-2.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-2.0/lte02300-1.50-2.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-2.0/lte02300-2.00-2.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-3.0/lte02300-0.00-3.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-3.0/lte02300-0.50-3.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-3.0/lte02300-1.00-3.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-3.0/lte02300-1.50-3.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-3.0/lte02300-2.00-3.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-4.0/lte02300-0.00-4.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-4.0/lte02300-0.50-4.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-4.0/lte02300-1.00-4.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-4.0/lte02300-1.50-4.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
data/Models/PHOENIX_HiRes/PHOENIX-ACES-AGSS-COND-2011/Z-4.0/lte02300-2.00-4.0.PHOENIX-ACES-AGSS-COND-2011-HiRes.fits
